html {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: green;
}

body {
  height: 85vmin;
  width: 85vmin;
  max-width: 800px;
  max-height: 800px;
  margin: 5vmin 0 0 5vmin;
  background-color: gray;
  position: relative;
}

#cpu-body {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80%;
  position: absolute;
  left: 5%;
  top: 5%;
  background-color: darkslategray
}

#cpuScreenBorder {
  position: absolute;
  background-color: white;
}

#cpu-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  /* background-color:rgb(222, 184, 135, 80%);
  border-style:inset;
  border-radius: 5%; */
}

#board {
  width: 90%;
  border-style: ridge;
  border-color: rgb(50, 169, 86, 60%);
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  overflow: hidden;
}

.snake {
  background-color: rgb(50, 169, 86);
  border-radius: 25%;
  border-style:ridge;
  border-color: darkseagreen;
}

.cell {
  border-style: ridge;
  border-color: rgb(50, 169, 86, 60%);
}

.apple {
  background-color: rgb(139, 0, 0, 80%);
  border-radius: 50%;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
  border-style: ridge;
  border-color: rgb(205, 92, 92);
}